# Per-machine install failure report written by lib/common.sh /
# stages/90-summary.sh
.install-failures.tsv

# Per-machine snapshots written by tools/export-current-state.sh
packages/_exported/
services/_exported/
